demo-flow.json
[{"id":"feb9fa80.d72718","type":"tab","label":"WebComponents","disabled":false,"info":""},{"id":"a00086ff.5cdc68","type":"component-camera","z":"feb9fa80.d72718","name":"Camera","unique":"camera1","x":155,"y":135,"wires":[["f76d2bc1.a0aa18"]]},{"id":"f76d2bc1.a0aa18","type":"debug","z":"feb9fa80.d72718","name":"","active":true,"console":"false","complete":"true","x":560,"y":135,"wires":[]},{"id":"c189c711.2a1828","type":"http in","z":"feb9fa80.d72718","name":"","url":"/wcdemo","method":"get","upload":false,"swaggerDoc":"","x":170,"y":200,"wires":[["ac71980b.f2ab68"]]},{"id":"ac71980b.f2ab68","type":"template","z":"feb9fa80.d72718","name":"Styles","field":"payload.styles","fieldType":"msg","format":"css","syntax":"mustache","template":"html, body{\n    width: 100%;\n    height: 100%;\n    padding: 0;\n    margin: 0;\n}","output":"str","x":310,"y":200,"wires":[["642d6eec.c9076"]]},{"id":"642d6eec.c9076","type":"template","z":"feb9fa80.d72718","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"(function(){\n    \n    'use strict';\n    \n    const el = document.querySelector('node-red-camera');\n    console.log('el:', el);\n    \n    el.addEventListener('message', function(e){\n        console.log('message event:', e);\n    }, false);\n    \n    el.addEventListener('error', function(err){\n        console.log('err:', err);\n    }); \n    \n    el.addEventListener('streamavailable', function(data){\n        console.log('streamavailable:', data);\n    }); \n    \n    el.addEventListener('imageavailable', function(data){\n        console.log('imageavailable:', data);\n    }); \n    \n    el.addEventListener('videoavailable', function(data){\n        console.log('videoavailable:', data);\n    }); \n    \n}());","output":"str","x":450,"y":200,"wires":[["d629823e.fda0c"]]},{"id":"d629823e.fda0c","type":"template","z":"feb9fa80.d72718","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Node-RED Web Components Demo</title>\n        <script src=\"https://rawgit.com/webcomponents/webcomponentsjs/master/webcomponents-sd-ce.js\"></script>\n        <script src=\"/web-components/camera\"></script>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=yes\" />\n        <style>\n            {{{payload.styles}}}\n        </style>\n    </head>\n    <body>\n        \n        <node-red-camera data-nr-name=\"camera1\" data-nr-type=\"still\"></node-red-camera>\n\n        <script>\n            {{{payload.script}}}\n        </script>\n        \n    </body>\n</html>","output":"str","x":590,"y":200,"wires":[["11a0bcae.f60153"]]},{"id":"11a0bcae.f60153","type":"http response","z":"feb9fa80.d72718","name":"","statusCode":"","headers":{},"x":712,"y":199,"wires":[]}]