demo-flow.json
[{"id":"a00086ff.5cdc68","type":"component-camera","z":"feb9fa80.d72718","name":"Camera","unique":"camera1","x":95,"y":60,"wires":[["f76d2bc1.a0aa18"]]},{"id":"f76d2bc1.a0aa18","type":"debug","z":"feb9fa80.d72718","name":"","active":true,"console":"false","complete":"true","x":500,"y":60,"wires":[]},{"id":"c189c711.2a1828","type":"http in","z":"feb9fa80.d72718","name":"","url":"/wcdemo","method":"get","upload":false,"swaggerDoc":"","x":115,"y":105,"wires":[["ac71980b.f2ab68"]]},{"id":"ac71980b.f2ab68","type":"template","z":"feb9fa80.d72718","name":"Styles","field":"payload.styles","fieldType":"msg","format":"css","syntax":"mustache","template":"html, body{width: 100%;height: 100%;padding: 0;margin: 0;}","output":"str","x":255,"y":105,"wires":[["642d6eec.c9076"]]},{"id":"642d6eec.c9076","type":"template","z":"feb9fa80.d72718","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"(function(){'use strict';const el = document.querySelector('node-red-camera');console.log('el:', el);el.addEventListener('message', function(e){console.log('message event:', e);}, false);el.addEventListener('error', function(err){console.log('err:', err);}); el.addEventListener('streamavailable', function(data){console.log('streamavailable:', data);}); el.addEventListener('imageavailable', function(data){console.log('imageavailable:', data);}); el.addEventListener('videoavailable', function(data){console.log('videoavailable:', data);}); }());","output":"str","x":395,"y":105,"wires":[["d629823e.fda0c"]]},{"id":"d629823e.fda0c","type":"template","z":"feb9fa80.d72718","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html><html><head><title>Node-RED Web Components Demo</title><script src=\"https://rawgit.com/webcomponents/webcomponentsjs/master/webcomponents-sd-ce.js\"></script><script src=\"/web-components/camera\"></script><meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=yes\" /><style>{{{payload.styles}}}</style></head><body><node-red-camera data-nr-name=\"camera1\" data-nr-type=\"still\"></node-red-camera><script>{{{payload.script}}}</script></body></html>","output":"str","x":535,"y":105,"wires":[["11a0bcae.f60153"]]},{"id":"11a0bcae.f60153","type":"http response","z":"feb9fa80.d72718","name":"","statusCode":"","headers":{},"x":657,"y":104,"wires":[]}]